extends modules/_layout

block content

  section.index
    .box
      canvas(width=750 height=750)

<<<<<<< HEAD
    //video(src='./loop_sp.mp4' loop)
=======
    video(src='./loop_sp.mp4' loop)
>>>>>>> f487ab253fa22767cf7f49de26f22997052b9cbb
